html, body { margin: 0; padding: 0; }

:root {
	--toolbar-height: 34px;
	--bookmark-height: 24px;
	--favicon-size: 20px;
	--tag-font-size: 12px;
	--tag-padding: 2px;
}
* {
	box-sizing: border-box;
}

body {
	width: 390px;
	min-height: var(--toolbar-height);
	display: flex;
	overflow-y: hidden;
}

#app {
	display: flex;
	flex-direction: column;
	width: 100%;
}

#bookmarkList {
	max-height: calc(600px - var(--toolbar-height) - var(--bookmark-height));
	overflow-y: auto;
}
.bookmarks-item {
	display: flex;
	color: #111;
	text-decoration: none;
	position: relative;
	left: 0;
	height: initial;
}
.bookmarks-item:hover {
	background: #ddd;
}
.website-icon {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: var(--favicon-size);
	height: var(--favicon-size);
	min-width: var(--favicon-size);
	max-width: var(--favicon-size);
	border-radius: 4px;
	margin: auto 4px;
}
.website-icon.icon-bookmark-overlay {
	background-image: url(icons/defaultFaviconOverlay.svg);
}
.website-title {
	-webkit-margin-start: 4px;
	-webkit-margin-end: 4px;
	flex: 1;
	overflow: hidden;
	text-decoration: none;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: var(--bookmark-height);
}
.bookmark-tag {
	line-height: var(--bookmark-height);
	border-radius: 2px;
	border: 1px solid #a7c391;
	background-color: #e2efdc;
	margin: auto 2px;
	padding: var(--tag-padding);
	font-size: var(--tag-font-size);
	font-weight: bold;
	color: #87a478;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 0 rgba(0,0,0,0.05);
	text-shadow: 0 1px 0 rgba(255,255,255,0.4);
	line-height: var(--tag-font-size);
	visibility: visible;
	background-clip: padding-box;
	background-origin: border-box;
	opacity: 1;
	transition: opacity 250ms, margin 250ms, visibility 250ms linear 0ms;
}
.bookmark-tag {
	--tag-hue: 99.5;
	--tag-saturation: 19.5%;
	color: hsl(var(--tag-hue), var(--tag-saturation), 40%);
	background-color: hsl(var(--tag-hue), var(--tag-saturation), 80%);
	border-color: hsl(var(--tag-hue), var(--tag-saturation), 70%);
}
.bookmark-tag[aria-label=""] {
	display: none;
}

/* Toolbar based on RSS Feed Reader Style */
#toolbar {
	height: var(--toolbar-height);
	background: rgb(250,250,255);
	background: linear-gradient(to bottom, rgba(250,250,255,1) 0%,rgba(217,218,219,1) 100%);
	box-shadow: 0 1px 0 rgba(255,255,255,0.9) inset;
	border-top: 1px solid #bfbfbf;
	position: relative;
	text-align: center;
}

#toolbar > .left-group {
	position: absolute;
	top: 0;
	left: 0;
}

#toolbar > .right-group {
	position: absolute;
	top: 0;
	right: 0;
}

#toolbar .tab-group {
	display: inline-block;
	zoom: 1;
	border-left: 1px solid #c7c8c9;
	height: var(--toolbar-height);
	line-height: var(--toolbar-height);
	font-size: 13px;
}

#toolbar .tab-group button.tab {
	border: none;
	font-size: inherit;
	font-family: inherit;
	float: left;
	min-width: var(--toolbar-height);
	border-right: 1px solid #c7c8c9;
	cursor: pointer;
	height: 100%;
	padding: 0 4px;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
	font-weight: bold;
	user-select: none;
}

#toolbar .tab-group button.tab:hover {
	border: 1px solid rgba(0,0,0,0.1);
	border-right: 1px solid rgba(0,0,0,0.2);
	border-bottom: none;
	border-top: none;
	margin-left: -1px;
}

#toolbar .tab-group button.tab:active,
#toolbar .tab-group button.tab.current {
	background: rgb(222,222,226);
	background: linear-gradient(to bottom, rgba(222,222,226,1) 0%,rgba(225,225,228,1) 100%);
	border: 1px solid rgba(0,0,0,0.15);
	border-bottom: none;
	border-top: none;
	margin-left: -1px;
	box-shadow: 1px 0px 0px 0px rgba(255,255,255,0.25), -1px 0px 0px 0px rgba(255,255,255,0.25), 0px 1px 0px 0px rgba(0,0,0,0.1) inset, 0 -1px 0 rgba(0,0,0,0.2);
}
#toolbar .tab-group button.tab[data-mode="delete"].current {
	background: #ee6644;
	background: linear-gradient(to bottom, #ee6644 0%, #ff7755 100%);
}
